@model GoodMedicalApp.Domain.Models.TypeMedicine
@using (Html.BeginForm("CreateTypeMedicine", "TypeMedicine", FormMethod.Post))
{
    <p>@Html.LabelFor(x => x.Name)</p>
    <p>@Html.TextBoxFor(x => x.Name, "Name")</p>
    <p><input type="submit" value="Send" /></p>
}


